#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.test{
  font-size: large;
  font-family:'Times New Roman', Times, serif;
  text-decoration:wavy;
  color:aliceblue;
  background-color: inherit;
}